
ul.tab {
    width: 55%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border: 1px solid #8fff00;
    background-color: #c7c8c9;
    border-bottom: none;
    margin-bottom: 0px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul.tab li{float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}
ul.tab li a:focus, .active {background-color: whitesmoke;}


body {
    display: flex;
    flex-flow: row wrap;
}

body >div {
    width: 90%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

body > header{
    background: #0f1112;
    order: 1;
    height: 100px;
    flex:100%;
}


body > main{
    background: #545b61;
    order: 2;
    height: auto;
    flex: 100%;
    padding: 30px;
}

h1{
    color: #0f1112;
    text-align: center;
}


.tabcontent > p{
    color:dimgrey
}

.tabcontent{
    
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background: #c7c8c9;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #8fff00;
    border-bottom: 0px;
}

input[type=text],
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=submit]{
    width: 100%;
    padding: 10px;
    display: inline-block;
    
}

.recuperarPass{
    padding: 15px;
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background: #c7c8c9;
    border: 1px solid #8fff00;
}

label[for=user], label[for=password], label[for=newuser], label[for=newPass], label[for=newEmail]{
    display: none;
}



