/*Dar estilos a la lista*/

ul.tab {
    width: 95%;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    border: 1px solid #8fff00;
    background-color: #c7c8c9;
    border-bottom: none;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
}
.tabs{
    
}

/*Dar estilos a los elementos de la lista*/
ul.tab li{float: left; width: 50%;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    width: 100%;
    
}

ul.tab li a:hover {background-color: #8fff00;}
ul.tab li a:focus, .active {background-color: whitesmoke; }


body {
    display: flex;
    flex-flow: row wrap;
    
}

body >div {
    width: 90%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

body > header{
    background: #0f1112;
    order: 1;
    height: 15vh;
    flex:100%;
}


body > main{
    background: #545b61;
    order: 2;
    height: auto;
    flex: 100%;
    padding: 30px;
    margin-bottom: auto;
    
}

h1{
    color: #0f1112;
    text-align: center;
}


.tabcontent > p{
    color:dimgrey
}

.tabcontent{
    
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #c7c8c9;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #8fff00;
    border-bottom: 0px;
    padding-bottom: 10px;
}

input[type=text],
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=submit]{
    width: 100%;
    padding: 10px;
    display: inline-block;
    
}

.recuperarPass{
    padding: 15px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #c7c8c9;
    border: 1px solid #8fff00;
}

label[for=user], label[for=password], label[for=newuser], label[for=newPass], label[for=newEmail]{
    display: none;
}


@media screen and (min-width: 768px) {
    body {
        background-color: lightgreen;
        
    }
    
    .tabcontent{
        width: 70%;
    }
    .recuperarPass{
        width: 70%;
    }
    ul.tab{
        width: 70%;
    }
    
    label[for=user], label[for=password], label[for=newuser], label[for=newPass], label[for=newEmail]{
        display: inline-block;
        width: 7em;
        text-align: right;
        
    }
    
    input[type=text],
    input[type=password]{
        width: 70%;
        display: inline-block;
        
    }
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    
}
