doctype html
html
	head
		meta(charset='utf-8')
		title Sign-in/Sign-up
	body
		.cabecera
			a(href='index.html'): img(src='logo.jpg')
			.social
<<<<<<< HEAD
				a(href='https://twitter.com/'): img(src='twitter.jpg')
				a(href='https://es-es.facebook.com/'): img(src='facebook.jpg')
=======
				a(href='twitter.com'): img(src='twitter.jpg')
				a(href='facebook.com'): img(src='facebook.jpg')
>>>>>>> 64f3393f437b07732bdadd79e0e08fe2b58d09f1
			
		.cuerpo
			.textoLogin
				h1 Sign-in/Sign-up
			.entrar
				form(id="form-login" action="" method="post")
					p
						label(for='user') Usuario
						input(type='text' name='usuario' id='user')
					p
						label(for='password') Password
						input(type='password' name='pass' id='password')
					p
						input(type='checkbox' id='recordarPass')
						label(for='recordarPass') Recordar contraseña

					input(type='submit' value='Entrar')
				
			.registro
				form(id="form-registro" action="" method="post")
					p
						label(for='newuser') Nombre Usuario
						input(type='text' name='usuario' id='newuser')
					p
						label(for='newPass') Password
						input(type='password' name='password' id='newPass')
					p
						label(for='newEmail') e-Mail
						input(type='text' name='email' id='newEmail')
					p
						input(type='checkbox' id='aceptar')
						label(for='aceptar') He leído y acepto la política de privacidad
						
					input(type='submit' value='Registrarse')
				
			p
			label(for='recuperacionPass') ¿Olvidó su contraseña?
			a(href='correoderecuperacion' id='recuperacionPass') Pulse aquí